<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/stylesheets/fonts.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/stylesheets/schul-cloud.css" media="screen">
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Website",
        "publisher": {
            "@type": "Organization",
            "name": "Schul-Cloud",
            "logo": "https://blog.schulcloud.org/ghost/img/ghosticon.jpg"
        },
        "url": "https://blog.schulcloud.org/",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://blog.schulcloud.org"
        },
        "description": "In diesem Blog berichten wir über die Arbeit am Pilotprojekt Schul-Cloud. Mehr Infos unter https://hpi.de/schul-cloud"
    }
</script>