<!DOCTYPE html>
<html {% if page.language %}lang="{{ page.language | escape }}"{% endif %}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | escape }}</title>
  {% include head.html %}
</head>
<body class="post-template">
  <div class="site-wrapper">
    <main class="content" role="main">
      <article class="post">

        <header class="main-header no-cover">
        <!--
        <nav class="main-nav overlay clearfix">
  
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        </nav>
        -->
        <div class="vertical">
            <div class="main-header-content inner">
                <h1 class="page-title">Entwicklerportal der Schul-Cloud</h1>
                <h2 class="page-description">Alles, was du über Schul-Cloud wissen brauchst, um mitzumachen</h2>
            </div>
        </div>
        <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
          <h1 class="post-title">{{ page.title }}</h1>
          <section class="post-meta">
            <time class="post-date" datetime="2017-03-17">17 March 2017</time> 
          </section>
        </header>


        <section class="post-content">
          {{ page.content }}
        </section>
        {% include post-footer.html %}
      </article>
    </main>
    <!-- Hardcoded temporarily -->


    <aside class="read-next">
      {% if page.next.url %}
      <a class="read-next-story no-cover" href="{{ page.next.url }}">
        <section class="post">
          <h2>{{ page.next.title }}</h2>
          <p>{{ page.next.excerpt | strip_html | truncatewords: 18 }}</p>
        </section>
      </a>
      {% endif %}
      {% if page.previous.url %}
      <a class="read-next-story prev no-cover" href="{{ page.previous.url }}">
        <section class="post">
          <h2>{{ page.previous.title }}</h2>
          <p>{{ page.previous.excerpt | strip_html | truncatewords: 18 }}</p>
        </section>
      </a>
      {% endif %}
    </aside>
  </div>
</body>
</html>